.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* keep everityhing in position, but change the transform origin to element middle */
#hero-img {
  position: absolute;
}

#hero-img path {
  position: relative;
}

#axes-j1 {
  -webkit-animation: rotate-j1 1s linear infinite alternate;
  animation: rotate-j1 1s linear infinite alternate;
  transform-origin: 12% 92%;
  transform-box: fill-box;
}

@-webkit-keyframes rotate-j1 {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(10deg);
  }
}

/* animation of the j1 axis of robot*/
@keyframes rotate-j1 {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(10deg);
  }
}

@-webkit-keyframes wifi-anim {
  from {
    transform: scale(0.95);
  }
  to {
    transform: scale(1.05);
  }
}

/* animation of the wifi symbols */
@keyframes wifi-anim {
  from {
    transform: scale(0.95);
  }
  to {
    transform: scale(1.05);
  }
}
