.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* keep everityhing in position, but change the transform origin to element middle */
#hero-img {
  position: absolute;
}

#hero-img path {
  position: relative;
}

#axes-j1 {
  -webkit-animation: rotate-j1 1s linear infinite alternate;
  animation: rotate-j1 1s linear infinite alternate;
  transform-origin: 0% 0%;
}

@-webkit-keyframes rotate-j1 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(10deg);
  }
}

@keyframes rotate-j1 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(10deg);
  }
}
