.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* keep everityhing in position, but change the transform origin to element middle */
#hero-img {
  position: absolute;
}

#hero-img path {
  position: relative;
}

/* WiFi icon animation */
#right-wifi {
  -webkit-animation: wifi-anim 2s linear infinite alternate;
  animation: wifi-anim 2s linear infinite alternate;
  transform-box: fill-box;
  transform-origin: center bottom;
}
#middle-wifi {
  -webkit-animation: wifi-anim 3s linear infinite alternate;
  animation: wifi-anim 3s linear infinite alternate;
  transform-box: fill-box;
  transform-origin: center bottom;
}
#left-wifi {
  -webkit-animation: wifi-anim 2.3s linear infinite alternate;
  animation: wifi-anim 2.3s linear infinite alternate;
  transform-box: fill-box;
  transform-origin: center bottom;
}

/* Eye blinking */
#left-figure .face .eye {
  -webkit-animation: eye-blink-1 1.7s linear infinite alternate;
  animation: eye-blink-1 1.7s linear infinite alternate;
  transform-box: fill-box;
  transform-origin: center center;
}

#right-figure .face .eye {
  -webkit-animation: eye-blink-1 2.3s linear infinite alternate;
  animation: eye-blink-1 2.3s linear infinite alternate;
  transform-box: fill-box;
  transform-origin: center center;
}

#middle-figure .face .eye {
  -webkit-animation: eye-blink-1 1.9s linear infinite alternate;
  animation: eye-blink-1 1.9s linear infinite alternate;
  transform-box: fill-box;
  transform-origin: center center;
}

/* arm swinging */
#right-figure .left-arm {
  -webkit-animation: arm-swing 1s linear infinite alternate;
  animation: arm-swing 1s linear infinite alternate;
  transform-box: fill-box;
  transform-origin: top left;
}
/*
#left-figure .left-arm {
  -webkit-animation: arm-swing 1s linear infinite alternate;
  animation: arm-swing 1s linear infinite alternate;
  transform-box: fill-box;
  transform-origin: center right;
}
*/
#left-figure .right-arm {
  -webkit-animation: arm-swing 1.5s linear infinite alternate;
  animation: arm-swing 1.5s linear infinite alternate;
  transform-box: fill-box;
  transform-origin: center right;
}

/* product on conveyor belt  */
#products .product {
  -webkit-animation: transportation 3.5s linear infinite alternate;
  animation: transportation 3.5s linear infinite alternate;
  transform-box: fill-box;
  transform-origin: center right;
}

/* robot animations */
#robot .shoulder {
  -webkit-animation: shoulder-rotate 5s linear infinite alternate;
  animation: shoulder-rotate 5s linear infinite alternate;
  transform-box: fill-box;
  transform-origin: 50% 90%;
}
#robot .elbow {
  -webkit-animation: elbow-rotate 5s linear infinite alternate;
  animation: elbow-rotate 5s linear infinite alternate;
  transform-box: fill-box;
  transform-origin: 100% 90%;
}
#robot #cable-1 {
  -webkit-animation: sink 5s linear infinite alternate;
  animation: sink 5s linear infinite alternate;
  transform-box: fill-box;
  transform-origin: 100% 90%;
}

#robot .wirst-1 {
  -webkit-animation: wirst-rotate 5s linear infinite alternate;
  animation: wirst-rotate 5s linear infinite alternate;
  transform-box: fill-box;
  transform-origin: 75% 15%;
}

#robot .gripper-1 {
  -webkit-animation: gripper-1-close 10s linear infinite;
  animation: gripper-1-close 10s linear infinite;
  transform-box: fill-box;
  transform-origin: 5% 5%;
}

#robot .gripper-2 {
  -webkit-animation: gripper-2-close 10s linear infinite;
  animation: gripper-2-close 10s linear infinite;
  transform-box: fill-box;
  transform-origin: 90% 5%;
}

/*************************
/** Animation keyframes **
/*************************/

/* robot gripper-1 motion */
@-webkit-keyframes gripper-1-close {
  0% {
    transform: RotateZ(0deg);
  }
  50% {
    transform: RotateZ(0deg);
  }
  52% {
    transform: RotateZ(15deg);
  }
  54% {
    transform: RotateZ(0deg);
  }
  56% {
    transform: RotateZ(15deg);
  }
  58% {
    transform: RotateZ(0deg);
  }
}
@keyframes gripper-1-close {
  0% {
    transform: RotateZ(0deg);
  }
  50% {
    transform: RotateZ(0deg);
  }
  52% {
    transform: RotateZ(15deg);
  }
  54% {
    transform: RotateZ(0deg);
  }
  56% {
    transform: RotateZ(15deg);
  }
  58% {
    transform: RotateZ(0deg);
  }
}
/* robot gripper-2 motion */
@-webkit-keyframes gripper-2-close {
  0% {
    transform: RotateZ(0deg);
  }
  50% {
    transform: RotateZ(0deg);
  }
  52% {
    transform: RotateZ(-15deg);
  }
  54% {
    transform: RotateZ(0deg);
  }
  56% {
    transform: RotateZ(-15deg);
  }
  58% {
    transform: RotateZ(0deg);
  }
}
@keyframes gripper-2-close {
  0% {
    transform: RotateZ(0deg);
  }
  50% {
    transform: RotateZ(0deg);
  }
  52% {
    transform: RotateZ(-15deg);
  }
  54% {
    transform: RotateZ(0deg);
  }
  56% {
    transform: RotateZ(-15deg);
  }
  58% {
    transform: RotateZ(0deg);
  }
}

/* robot shoulder motion */
@-webkit-keyframes shoulder-rotate {
  0% {
    transform: RotateZ(0deg);
  }
  50% {
    transform: RotateZ(15deg);
  }
  100% {
    transform: RotateZ(15deg);
  }
}
@keyframes shoulder-rotate {
  0% {
    transform: RotateZ(0deg);
  }
  50% {
    transform: RotateZ(15deg);
  }
  100% {
    transform: RotateZ(15deg);
  }
}

/* robot elbow motion */
@-webkit-keyframes elbow-rotate {
  0% {
    transform: RotateZ(0deg);
  }
  50% {
    transform: RotateZ(-15deg);
  }
  100% {
    transform: RotateZ(-15deg);
  }
}
@keyframes elbow-rotate {
  0% {
    transform: RotateZ(0deg);
  }
  50% {
    transform: RotateZ(-15deg);
  }
  100% {
    transform: RotateZ(-15deg);
  }
}

/* robot wirst motion */
@-webkit-keyframes wirst-rotate {
  0% {
    transform: RotateZ(0deg);
  }
  50% {
    transform: RotateZ(0deg);
  }
  100% {
    transform: RotateZ(25deg);
  }
}
@keyframes wirst-rotate {
  0% {
    transform: RotateZ(0deg);
  }
  50% {
    transform: RotateZ(0deg);
  }
  100% {
    transform: RotateZ(25deg);
  }
}

/* robot cable motion */
@-webkit-keyframes sink {
  0% {
    transform: translate(0%, 0%);
  }
  50% {
    transform: translate(15%, 45%);
  }
  100% {
    transform: translate(15%, 50%);
  }
}
@keyframes sink {
  0% {
    transform: translate(0%, 0%);
  }
  50% {
    transform: translate(15%, 45%);
  }
  100% {
    transform: translate(15%, 50%);
  }
}

/* product motion */
@-webkit-keyframes transportation {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes transportation {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

/* eye blinking */

@-webkit-keyframes arm-swing {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(5deg);
  }
}

@keyframes arm-swing {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(5deg);
  }
}

/* eye blinking */
@-webkit-keyframes eye-blink-1 {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}

@keyframes eye-blink-1 {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}

/* animation of the wifi symbols */

@-webkit-keyframes wifi-anim {
  0% {
    transform: scale(0.95);
  }
  10% {
    transform: scale(1.05);
  }
  30% {
    transform: scale(0.95);
  }
  60% {
    transform: scale(1.05);
  }
  90% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1.05);
  }
}

@keyframes wifi-anim {
  0% {
    transform: scale(0.95);
  }
  10% {
    transform: scale(1.05);
  }
  30% {
    transform: scale(0.95);
  }
  60% {
    transform: scale(1.05);
  }
  90% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1.05);
  }
}
