.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* keep everityhing in position, but change the transform origin to element middle */
#hero-img {
  position: absolute;
}

#hero-img path {
  position: relative;
}

/* WiFi icon animation */
#right-wifi {
  -webkit-animation: wifi-anim 2s linear infinite alternate;
  animation: wifi-anim 2s linear infinite alternate;
  transform-box: fill-box;
  transform-origin: center bottom;
}
#middle-wifi {
  -webkit-animation: wifi-anim 3s linear infinite alternate;
  animation: wifi-anim 3s linear infinite alternate;
  transform-box: fill-box;
  transform-origin: center bottom;
}
#left-wifi {
  -webkit-animation: wifi-anim 2.3s linear infinite alternate;
  animation: wifi-anim 2.3s linear infinite alternate;
  transform-box: fill-box;
  transform-origin: center bottom;
}

/* Eye blinking */
#left-figure .face .eye {
  -webkit-animation: eye-blink-1 1.7s linear infinite alternate;
  animation: eye-blink-1 1.7s linear infinite alternate;
  transform-box: fill-box;
  transform-origin: center center;
}

#right-figure .face .eye {
  -webkit-animation: eye-blink-1 2.3s linear infinite alternate;
  animation: eye-blink-1 2.3s linear infinite alternate;
  transform-box: fill-box;
  transform-origin: center center;
}

#middle-figure .face .eye {
  -webkit-animation: eye-blink-1 1.9s linear infinite alternate;
  animation: eye-blink-1 1.9s linear infinite alternate;
  transform-box: fill-box;
  transform-origin: center center;
}

/* arm swinging */
#right-figure .left-arm {
  -webkit-animation: arm-swing 1s linear infinite alternate;
  animation: arm-swing 1s linear infinite alternate;
  transform-box: fill-box;
  transform-origin: top left;
}
/*
#left-figure .left-arm {
  -webkit-animation: arm-swing 1s linear infinite alternate;
  animation: arm-swing 1s linear infinite alternate;
  transform-box: fill-box;
  transform-origin: center right;
}
*/
#left-figure .right-arm {
  -webkit-animation: arm-swing 1.5s linear infinite alternate;
  animation: arm-swing 1.5s linear infinite alternate;
  transform-box: fill-box;
  transform-origin: center right;
}

/* product on conveyor belt  */
#products .product {
  -webkit-animation: transportation 3.5s linear infinite alternate;
  animation: transportation 3.5s linear infinite alternate;
  transform-box: fill-box;
  transform-origin: center right;
}

/* robot animations */
#products .product {
  -webkit-animation: transportation 3.5s linear infinite alternate;
  animation: transportation 3.5s linear infinite alternate;
  transform-box: fill-box;
  transform-origin: center right;
}

/*************************
/** Animation keyframes **
/*************************/

/* robot shoulder motion */

/* product motion */

@-webkit-keyframes transportation {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes transportation {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

/* eye blinking */

@-webkit-keyframes arm-swing {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(5deg);
  }
}

@keyframes arm-swing {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(5deg);
  }
}

/* eye blinking */
@-webkit-keyframes eye-blink-1 {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}

@keyframes eye-blink-1 {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}

/* animation of the wifi symbols */

@-webkit-keyframes wifi-anim {
  0% {
    transform: scale(0.95);
  }
  10% {
    transform: scale(1.05);
  }
  30% {
    transform: scale(0.95);
  }
  60% {
    transform: scale(1.05);
  }
  90% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1.05);
  }
}

@keyframes wifi-anim {
  0% {
    transform: scale(0.95);
  }
  10% {
    transform: scale(1.05);
  }
  30% {
    transform: scale(0.95);
  }
  60% {
    transform: scale(1.05);
  }
  90% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1.05);
  }
}
